<div class="page-title">
  <h1>ユーザー新規登録</h1>
</div>

<div class="user-form-contents">
  <%= form_with model: @user, url: user_registration_path, local: true, class: "users-form" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上の入力が必要です)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "action-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>