<% if user_signed_in? && current_user.id == @article.user_id %>
  <%= link_to edit_article_path(@article) do %>
    <%= image_tag "edit_img.png", class: "user-edit-img" %>
  <% end %>
  <%= link_to article_path(@article), method: :delete do %>
    <%= image_tag "delete_img.png", class: "user-delete-img" %>
  <% end %>
<% end %>

<%= render partial: "favorites/favorite_btn", locals: { article: @article, favorite: @favorite} %>

<%= render partial: "good_evaluations/good_btn", locals: { article: @article, good_evaluation: @good_evaluation} %>

<%= render partial: "bad_evaluations/bad_btn", locals: { article: @article, bad_evaluation: @bad_evaluation} %>

<div class="article-show-content">
  <div class="article-cover-img">
  <% if @article.image.attached? %>
    <%= image_tag @article.image, class: "header-img" %>
  <% else %>
    <%= image_tag "sample_img.jpg", class: "header-img" %>
  <% end %>
  </div>

  <div class="article-main">
    <div class="show-article-title">
      <h1><%= @article.title %></h1>
    </div>

    <div class="article-text">
      <p><%= @article.text %></p>
    </div>

    <div class="article-comments-content">

      <% if user_signed_in? %>
        <div class="comment-content-form">
          <%= form_with model: @comment, url: article_comments_path(@article), local: true do |f| %>
            <h2>この記事に対するコメントを書く</h2>
            <%= f.text_area :text, class:"input-article-comment", placeholder:"コメントを入力", rows:"5", maxlength:"250", wrap:"soft"%>
            <%= f.submit "コメントを送信", class:"comment-submit-btn" %>
          <% end %>
        </div>
      <% end %>

      <% if @comments.length != 0 %>
        <h2 class="comment-title">コメント</h2>
        <ul class=comment-lists>
          <% @comments.each do |comment| %>
            <li class=comment-list>
            <p><%= comment.text %></p>
            <p class="comment-user-name"><%= comment.user.nickname %>さん</p>
              <% if user_signed_in? && comment.user_id == current_user.id %>
              <%= link_to "コメントを削除", article_comment_path(comment), method: :delete, class: "comment-delete" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h2>この記事に対するコメントはまだありません</h2>
      <% end %>
    </div>
  </div>
</div>