<%= render 'shared/header' %>

<div class="user-show-content">
  <div class="page-title">
    <h1><%= current_user.nickname %>さんのマイページ</h1>
  </div>

  <div class="user-profile">
    <h2 class="table-name">ユーザー情報</h2>

    <div class="user-profile-list">
      <h2>ニックネーム</h2>
      <p><%= current_user.nickname %></p>
    </div>

    <div class="user-profile-list">
      <h2>メールアドレス</h2>
      <p><%= current_user.email %></p>
    </div>

  </div>

  <div class="user-articles-content">
    <h2><%= current_user.nickname %>さんが投稿した記事</h2>
      <% if current_user.articles.length != 0 %>
        <%= render partial: 'shared/article_contents', locals: {articles: current_user.articles} %>
      <% else %>
        <p>現在投稿された記事はありません</p>
      <% end %>
  </div>

  <div class="user-articles-content">
    <h2><%= current_user.nickname %>さんがお気に入りした記事</h2>
      <% if @favorites.length != 0 %>
        <%= render partial: 'shared/article_contents', locals: {articles: @articles} %>
      <% else %>
        <p>お気に入りした記事はありません</p>
      <% end %>
  </div>
</div>



