<ul class="articles-lists">
  <% articles.each do |article| %>
    <li class="article-list">
      <%= link_to article_path(article) do %>
        <div class="article-image-content">
          <% if article.image.attached? %>
            <%= image_tag article.image, class: "article-image", alt: "article-image" %>
          <% else %>
            <%= image_tag "sample_img.jpg", class: "article-image", alt: "article-image" %>
          <% end %>
        </div>
        <p class="article-title"><%= article.title.truncate(27) %></p>
      <% end %>

      <div class="article-middle">
        <p class="article-user"><%= link_to "by #{article.user.nickname}", user_path(article.user) %></p>
        <div class="article-icon">
          <% if user_signed_in? && Favorite.find_by(user_id: current_user.id, article_id: article.id) %> 
            <i class="fas fa-star favorite"></i>
          <% else %>
            <i class="fas fa-star unfavorite"></i>
          <% end %>
          <span class='count-num'><%= article.favorites.length %></span>

          <% if user_signed_in? && GoodEvaluation.find_by(user_id: current_user.id, article_id: article.id) %> 
            <i class="fas fa-thumbs-up"></i>
          <% else %>
            <i class="far fa-thumbs-up"></i>
          <% end %>
          <span class='count-num'><%= article.good_evaluations.length %></span>

          <% if user_signed_in? && BadEvaluation.find_by(user_id: current_user.id, article_id: article.id) %> 
            <i class="fas fa-thumbs-down"></i>
          <% else %>
            <i class="far fa-thumbs-down"></i>
          <% end %>
          <span class='count-num'><%= article.bad_evaluations.length %></span>
        </div>
      </div>
      <p class=article-category>カテゴリー：<%= article.category[:name]%></p>
    </li>
  <% end %>      
</ul>
