<header class='top-page-header'>
  <div class='header-left'>
  <%= image_tag "menu.png", id: "img-menu-icon" %>
    <%= link_to "PosticleApp", root_path, class: "header-logo" %>
  </div>

  <div id="modal-menu">
    <h3>カテゴリーから探す</h3>
    <ul class="category-list">
      <% Category.all.drop(1).each do |category| %>
        <li><%= link_to "#{category[:name]}", "/articles/#{category[:id]}/category", class: "category-link" %></li>
      <% end %>
    </ul>
  </div>

  <div class='header-center'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "記事を検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>  
    <% end %>
  </div>

  <div class='header-right'>
    <%= image_tag "search.png", id: "search-image" %>
    <div class="search-modal">
      <div class="modal-bg search-modal-close"></div>
      <div class="search-modal-content">
        <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "記事を検索する", class: "search-input" %>
          <%= f.submit "検索", class: "search-btn" %>  
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, user_path(current_user), class: 'header-right-list' %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header-right-list' %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'header-right-list' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'header-right-list' %>
    <% end %>
  </div>
</header>